.cv-section {
	display: flex;
	min-height: 100vh;
	max-width: 1074px;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 72px;
	padding-top: 50px;
}

@media (min-width: 768px) {
	.cv-section {
		gap: 110px;
	}
}

.cv-section-title {
	max-width: 343px;
	position: absolute;
	bottom: -77px;
}

@media (min-width: 768px) {
	.cv-section-title {
		max-width: 1074px;
	}
}

.cv-section-ee-image {
	height: 187px;
	width: 163px;
	object-fit: cover;
	object-position: top;
}

@media (min-width: 768px) {
	.cv-section-ee-image {
		display: none;
	}
}

.cv-section-title-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cv-section-item-background {
	background-color: #161616;
	border-radius: 8px;
	padding: 20px;
}

.cv-section-description-text {
	font-family: var(--font-gothic);
	font-size: 16px;
	color: #b1b1b1;
}

.cv-section-title-text {
	font-family: var(--font-bounded);
	font-size: 20px;
	color: #ffffff;
}

.cv-section-accent-title-text {
	font-family: var(--font-bounded);
	font-size: 20px;
	color: var(--button-border-hover);
}

.cv-section-software-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

@media (min-width: 768px) {
	.cv-section-software-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.cv-section-contacts-title-text {
	font-family: var(--font-bounded);
	font-size: 40px;
	color: #ffffff;
}

.cv-section-contacts-button {
	min-width: 113px;
	min-height: 44px;
	font-family: var(--font-gothic);
	font-size: 16px;
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #3f3f3f;

	&:hover {
		border-color: var(--color-button-border-hover);
	}

	&:active {
		border-color: transparent;
		background-color: white;
		color: black;
	}
}

.cv-section-accordion {
	justify-content: space-between;
}
