.business-card {
	display: flex;
	flex-direction: row;
	border: 1px solid #3c3c3c;
	border-radius: 8px;
	padding: 20px;
	gap: 32px;
	width: 100%;
}

.business-card__image {
	height: 309px;
	width: 257px;
	object-fit: cover;
	object-position: top;
}

.business-card__image--mobile {
	@media (max-width: 624px) {
		height: 131px;
		width: 109px;
	}
}

.business-card__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 56px;
}

.business-card__content--mobile {
	gap: 15px;
}

.business-card__title {
	font-family: var(--font-bounded);
	font-size: 32px;
	max-width: 240px;
	text-transform: uppercase;
}

.business-card__title--mobile {
	font-size: 20px;
}

.business-card__body {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.business-card__links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 8px;
}

.business-card__link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border: 1px solid #3c3c3c;
	border-radius: 100%;
	transition: all 0.3s ease;
	color: white;

	@media (hover: hover) {
		&:hover {
			border-color: var(--button-border-hover);
		}
	}

	&:active {
		color: #6d6d6d;
	}
}

.business-card__link-icon {
	width: 36px;
	height: 36px;
}

.business-card__info-wrapper {
	display: flex;
	flex-direction: row;
	gap: 12px;
	width: 100%;
}

.business-card__info-wrapper--mobile {
	flex-direction: column;
	gap: 4px;
}

.business-card__info-row {
	display: flex;
	flex-direction: row;
	gap: 4px;
	width: 100%;
}

.business-card__info-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 4px;
	padding: 8px 20px;
	border: 1px solid #3c3c3c;
	border-radius: 8px;
	width: 100%;
	white-space: nowrap;
}

.business-card__info-item-title {
	font-family: var(--font-gothic);
	font-size: 16px;
	color: #bfbfbf;
}

.business-card__info-item-description {
	font-family: var(--font-gothic);
	font-size: 20px;
	color: white;
}

.business-card--desktop {
	display: none;

	@media (min-width: 1075px) {
		display: flex;
	}
}

.business-card--mobile {
	display: flex;
	flex-direction: column;
	border: 0px;
	gap: 4px;
	padding: 12px;

	@media (min-width: 1075px) {
		display: none;
	}
}

.business-card__wrapper--mobile {
	display: flex;
	flex-direction: row;
	border: 1px solid #3c3c3c;
	border-radius: 8px;
	padding: 20px;
	gap: 32px;
	width: 100%;

	@media (max-width: 568px) {
		gap: 10px;
	}
}

.business-card__links--mobile {
	justify-content: start;
}

.business-card__info-item-title--mobile {
	font-size: 14px;
}

.business-card__info-item-description--mobile {
	font-size: 16px;
}
